@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.page {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #0E2940;
}

.page__offset {
  padding: 50px 0;
}

.container {
  z-index: 5;
  width: 1200px;
  margin: 0 auto;
}

.subtitle {
  font-weight: 700;
  font-size: 50px;
  color: #662763;
}

.product__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 70px;
  font-size: 36px;
  text-align: center;
  text-decoration: none;
  color: #420D40;
  background-color: #FF9900;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product__buy:hover {
  background-color: #ffaf38;
}

.header {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  position: relative;
}

.header__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 5px;
}

.nav__item {
  margin: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav__buy {
  color: #420D40;
  background-color: #FF9900;
  border-radius: 15px;
  padding: 10px 30px;
}

.nav__buy:hover {
  background-color: #ffaf38;
}

.product {
  z-index: 5;
  font-size: 50px;
}

.product__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__title {
  color: #662763;
}

.product__info {
  font-size: 16px;
}

.product__image {
  -webkit-filter: drop-shadow(5px 5px 20px #222);
          filter: drop-shadow(5px 5px 20px #222);
}

.composition, .promo, .order-form, .feedback {
  background-color: #DCD9D4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(0, 0, 0, 0.5))), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0.5) 50%);
  background-blend-mode: soft-light,screen;
}

.composition__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.composition__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.composition__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  padding: 10px;
  border: 2px solid #222;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px auto;
}

.composition__element-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.composition__element-image {
  width: 80px;
  height: 80px;
}

.composition__element-title {
  font-weight: 500;
  font-size: 20px;
  margin-left: 20px;
}

.slider-container {
  color: #662763;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
}

.slider-container .slider-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.slider-container .slider-head .slider-title {
  font-weight: 700;
  font-size: 50px;
}

.slider-container .slider-head .slider-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-container .slider-head .slider-elements .slider-progress {
  display: none;
  width: 360px;
  margin-right: 40px;
  height: 2px;
}

.slider-container .slider-head .slider-elements .slider-progress .slider-progress-line {
  width: 100%;
  height: 1px;
  background-color: #ebc8fb;
}

.slider-container .slider-head .slider-elements .slider-progress .slider-progress-current {
  position: absolute;
  height: 1px;
  background-color: #662763;
}

.slider-container .slider-head button {
  width: 60px;
  height: 60px;
  color: #000;
  background-color: #fff;
  border: 1px solid #fbdbc849;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider-container .slider-head button:hover:enabled {
  background-color: #fbdbc849;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider-container .slider-head button:disabled {
  color: #ccc;
  border: 1px solid #ccc;
}

.slider-container .slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  cursor: pointer;
}

.slider-container .slider-track .slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  padding: 20px;
  margin: 0 20px;
  min-width: 1160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #662763;
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider-container .slider-track .slider-item .slider-item-date {
  margin: 10px 0;
  font-size: 12px;
}

.slider-container .slider-track .slider-item .slider-item-title {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.slider-container .slider-track .slider-item .slider-item-text {
  font-size: 12px;
  line-height: 22px;
}

.slider-container .slider-track .slider-item img {
  pointer-events: none;
}

.promo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 34px;
}

.promo__property-items {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__property-item {
  font-size: 36px;
}

.order-form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 350px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.form__input,
.form__submit {
  width: 300px;
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 10px;
  font-size: 24px;
}

.form__input {
  padding: 20px;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 8px 0 white;
          box-shadow: 0 0 8px 0 white;
}

.form__submit {
  border: none;
  background-color: #FF9900;
  cursor: pointer;
}

.buy-image {
  position: relative;
}

.last-price {
  color: #000;
  font-weight: 600;
  position: absolute;
  font-size: 50px;
  text-decoration: line-through;
  top: 15%;
  left: 30%;
}

.new-price {
  position: absolute;
  color: #662763;
  font-weight: 700;
  font-size: 70px;
  top: 0;
  left: 30%;
}

.timer {
  display: block;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

@media screen and (max-width: 1366px) {
  .container {
    width: 900px;
  }
  .composition__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider-container {
    width: 900px;
  }
  .slider-container .slider-track .slider-item {
    min-width: 860px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 600px;
  }
  .subtitle {
    font-size: 30px;
    text-align: center;
  }
  .header__video {
    height: 100%;
  }
  .header {
    height: 100%;
    padding-bottom: 50px;
  }
  .menu {
    display: none;
  }
  .product__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product__advantages {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  .promo__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo-image {
    height: 300px;
    margin-right: 20px;
  }
  .promo__text {
    font-size: 16px;
  }
  .promo__property-items {
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order-form__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider-container {
    width: 600px;
  }
  .slider-container .slider-track .slider-item {
    min-width: 560px;
  }
  .slider-container .slider-head .slider-title {
    font-size: 30px;
  }
  .slider-container .slider-head .slider-elements .slider-progress {
    width: 300px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    width: 320px;
  }
  .product__about {
    font-size: 36px;
  }
  .promo__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider-container {
    width: 320px;
  }
  .slider-container .slider-track .slider-item {
    min-width: 260px;
  }
  .slider-container .slider-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider-container .slider-head .slider-title {
    font-size: 30px;
  }
  .slider-container .slider-head .slider-elements {
    padding-bottom: 20px;
  }
  .slider-container .slider-head .slider-elements .slider-progress {
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */